<a href="https://colab.research.google.com/github/Desmondonam/Lung_cancer_Prediction/blob/main/Lung_cancer_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Add the dataset for this project

## Import the libraries needed

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC
from sklearn.metrics import classification_report, confusion_matrix

## Loading the data and its preparation

In [6]:
import zipfile

# Specify the path to the zip folder
zip_path = "/content/nlst_780_screen_idc_20210527.csv.zip"

# Extract the zip folder
with zipfile.ZipFile(zip_path, 'r') as zip_ref:
    zip_ref.extractall("/content/Data1")

In [9]:
# Specify the path to the extracted CSV file
csv_path_1 = "/content/Data1/nlst_780_canc_idc_20210527.csv"

# Load the CSV data into a DataFrame
df1 = pd.read_csv(csv_path_1)

In [10]:
df1.head()

,pid,lc_topog,topog_source,de_type,de_grade,de_stag,path_stag,clinical_stag,stage_sum,valcsg,...,path_t,clinical_n,path_n,clinical_m,path_m,stage_only,study_yr,dataset_version,lc_order,candx_days
0,100012,C34.1,2.0,8140.0,3,110.0,110.0,110.0,NaN,NaN,...,100.0,0.0,0.0,0.0,0.0,NaN,1,2011.02.03/05.12.21,1,454
1,100049,C34.3,1.0,8046.0,4,220.0,NaN,220.0,1.0,NaN,...,NaN,0.0,NaN,0.0,NaN,220.0,6,2011.02.03/05.12.21,1,2428
2,100055,C34.3,NaN,8140.0,1,400.0,NaN,400.0,3.0,NaN,...,NaN,200.0,NaN,100.0,NaN,400.0,0,2011.02.03/05.12.21,1,148
3,100147,C34.1,2.0,8140.0,3,110.0,110.0,110.0,1.0,NaN,...,100.0,0.0,0.0,0.0,0.0,110.0,1,2011.02.03/05.12.21,1,491
4,100158,C34.1,2.0,8140.0,4,110.0,110.0,110.0,NaN,NaN,...,100.0,0.0,0.0,0.0,0.0,NaN,2,2011.02.03/05.12.21,1,795

In [16]:
total_missing_percentage = df1.isnull().sum().sum() / (df1.shape[0] * df1.shape[1]) * 100
print(total_missing_percentage)

10.510259917920656

In [11]:
df2 = pd.read_csv("/content/Data1/nlst_780_ctab_idc_20210527.csv")
df2.head()

,sct_ab_desc,sct_ab_num,sct_epi_loc,sct_long_dia,sct_margins,sct_perp_dia,sct_pre_att,study_yr,sct_slice_num,sct_found_after_comp,pid,dataset_version
0,65,1,NaN,NaN,NaN,NaN,NaN,0,NaN,0.0,100002,2011.02.03/05.12.21
1,64,1,NaN,NaN,NaN,NaN,NaN,1,NaN,0.0,100002,2011.02.03/05.12.21
2,65,1,NaN,NaN,NaN,NaN,NaN,2,NaN,0.0,100002,2011.02.03/05.12.21
3,51,1,1.0,4.0,2.0,3.0,1.0,0,26.0,0.0,100004,2011.02.03/05.12.21
4,64,2,NaN,NaN,NaN,NaN,NaN,0,NaN,0.0,100004,2011.02.03/05.12.21

In [17]:
total_missing_percentage = df2.isnull().sum().sum() / (df2.shape[0] * df2.shape[1]) * 100
print(total_missing_percentage)

40.04434127569906

In [12]:
df3 = pd.read_csv("/content/Data1/nlst_780_ctabc_idc_20210527.csv")
df3.head()

,study_yr,sct_ab_preexist,pid,sct_ab_attn,sct_ab_gwth,sct_ab_invg,sct_ab_num,sct_ab_code,dataset_version,visible_days
0,1,2,100002,NaN,NaN,1.0,1,64.0,2011.02.03/05.12.21,13.0
1,1,2,100004,1.0,1.0,NaN,1,51.0,2011.02.03/05.12.21,8.0
2,1,2,100005,1.0,1.0,NaN,1,51.0,2011.02.03/05.12.21,56.0
3,1,2,100005,NaN,NaN,1.0,2,60.0,2011.02.03/05.12.21,56.0
4,2,2,100005,1.0,1.0,NaN,1,51.0,2011.02.03/05.12.21,56.0

In [18]:
total_missing_percentage = df3.isnull().sum().sum() / (df3.shape[0] * df3.shape[1]) * 100
print(total_missing_percentage)

16.436900083746696

In [13]:
df4 = pd.read_csv("/content/Data1/nlst_780_prsn_idc_20210527.csv")
df4.head()

,race,cigsmok,gender,age,loclhil,locllow,loclup,locrhil,locrlow,locrmid,...,can_scr,canc_rpt_link,pid,dataset_version,scr_days0,scr_days1,scr_days2,candx_days,canc_free_days,de_stag_7thed
0,1,1,1,70,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,100001,2011.02.03/05.12.21,0.0,511.0,NaN,NaN,2353,NaN
1,1,1,1,66,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,100002,2011.02.03/05.12.21,13.0,349.0,731.0,NaN,2391,NaN
2,1,1,1,64,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,100003,2011.02.03/05.12.21,12.0,374.0,738.0,NaN,2381,NaN
3,1,0,1,60,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,100004,2011.02.03/05.12.21,8.0,452.0,743.0,NaN,2688,NaN
4,1,0,1,64,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,100005,2011.02.03/05.12.21,56.0,382.0,746.0,NaN,2435,NaN

In [19]:
total_missing_percentage = df4.isnull().sum().sum() / (df4.shape[0] * df4.shape[1]) * 100
print(total_missing_percentage)

52.35135477408919

In [14]:
df5 = pd.read_csv("/content/Data1/nlst_780_screen_idc_20210527.csv")
df5.head()

,pid,ctdxqual,study_yr,techpara_kvp,techpara_ma,techpara_fov,techpara_effmas,ct_recon_filter1,ct_recon_filter2,ctdxqual_breath,ctdxqual_motion,ctdxqual_resp,ctdxqual_techpara,ctdxqual_inadeqimg,ctdxqual_artifact,ctdxqual_graininess,ctdxqual_other,ct_recon_filter3,ct_recon_filter4,dataset_version
0,100002,1.0,0,120.0,160.0,36.0,53.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011.02.03/05.12.21
1,100002,1.0,1,120.0,160.0,36.0,53.0,3.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011.02.03/05.12.21
2,100002,1.0,2,120.0,160.0,36.0,53.0,3.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011.02.03/05.12.21
3,100004,2.0,0,120.0,160.0,41.0,NaN,3.0,NaN,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,2011.02.03/05.12.21
4,100004,1.0,1,120.0,160.0,41.0,53.0,3.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011.02.03/05.12.21

In [20]:
total_missing_percentage = df5.isnull().sum().sum() / (df5.shape[0] * df5.shape[1]) * 100
print(total_missing_percentage)

55.34137187574862